
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

.main {
    background-image: url(assets/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

.box {
    height: 100vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    background-color: rgb(0, 0, 0);
}

nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 15;
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav img {

    color: red;
    width: 154px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 42px;
}

body {
    background-color: black;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    color: #fff;
    font-size: 50px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 25px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 15px;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 25px;
    font-weight: 500;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 5px 22px;
    border-radius: 4px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    color: white;
    justify-content: center;
    margin: auto;
    max-width: 70vw;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 602px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 71px;
    right: 1px;
    width: 521px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 34px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 16px;

}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #474747;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 25px;
    max-width: 78vw;
    margin: 7px auto;
    cursor: pointer;
}

footer {
    color: #b5a9a9;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}

.questions a {
    color: #b5a9a9;

}

.footer {
    background-color: #000;
    color: #b5a9a9;
    padding: 20px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer a {
    color: #b5a9a9;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 768px) {
    .main {
        background-position: top center;
    }
}




.language-dropdown {
    position: relative;
    display: inline-block;
}

.language-dropdown input[type="checkbox"] {
    display: none;
}

.language-dropdown .language-list {
    position: absolute;
    top: 110%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border: 1px solid #555;
    border-radius: 4px;
    display: none;
    z-index: 100;
    width: 100%;
}

.language-dropdown .language-list li {
    padding: 8px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.language-dropdown .language-list li:hover {
    background-color: #333;
}

#language-toggle:checked~.language-list {
    display: block;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero span {
    animation: fadeInUp 1s ease forwards;
}

details summary {
    list-style: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: normal;
    color: inherit;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* details {
    max-width: 78vw;
    border-radius: 4px;
    transition: all 0.3s ease;
}
details p:first-of-type {
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: 10px;
}


